@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  display: block;
  align-items: center;
}
.boton {
  display: flex;
  align-items: center;
  background-color: red;
  color: white;
  border-radius: 10px;
}
